:root {
	--primary: #151920;
	--secondary: #2d2d2f;
	--tertiary: #e3dcdc;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Imprima", sans-serif;
	color: var(--tertiary);
}

body {
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

#bloc-page {
	max-width: 1440px;
	margin: 0 auto;
}

h1 {
	color: var(--tertiary);
	letter-spacing: 0.3rem;
	text-align: center;
}

#search {
	display: block;
	border: none;
	border-radius: 2rem;
	height: 50px;
	width: 600px;
	padding: 0 20px;
	font-size: 1.2rem;
	color: var(--secondary);
	font-weight: 600;
	outline: none;
	background-color: var(--tertiary);
	margin: 3rem auto;
}

#search::placeholder {
	color: var(--secondary);
	opacity: 0.6;
}

#container-page {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}

section > h2 {
	font-weight: lighter;
	margin-bottom: 3rem;
}

#container-playlist {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 640px;
	height: 670px;
	border-radius: 2rem;
	box-shadow: inset -10px -10px 5px #171b23, inset 10px 10px 5px #13171d;
	padding: 20px 0;
	margin-bottom: 3rem;
}

#container-genre {
	width: 600px;
	height: auto;
	border-radius: 2rem;
	box-shadow: inset -10px -10px 5px #171b23, inset 10px 10px 5px #13171d;
	display: flex;
	justify-content: center;
	padding: 40px;
	gap: 2rem;
}

.section-wrapper:nth-child(2) {
	margin-bottom: 3rem;
}

#about {
	display: block;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 2rem;
}

/*============ MUSIC PLAYER ================*/

.container-player {
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary);
	width: 500px;
	border-radius: 4rem;
	height: 100px;
	box-shadow: inset 2px 2px 5px #000000, inset -2px -2px 3px rgba(0, 0, 0, 0.25);
	position: relative;
	overflow: hidden;
}

.hidden-player {
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	border-radius: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	right: 0%;
	justify-content: center;
	gap: 20px;
	cursor: pointer;
	transition: right 1200ms ease-in-out;
}

.disk {
	z-index: 999;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	right: 0;
	border-radius: 50%;
	border: 3px solid var(--primary);
	position: absolute;
	background-image: var(--background-image-disk) no-repeat;
	background-size: contain;
	background-position: center;
	transition: right 1200ms ease-in-out;
}

.disk-left-moving {
	right: calc(100% - 100px);
}

.hidden-left-moving {
	right: 80%;
}

.disk-animation-rotation {
	animation: turnDisk 2.5s linear infinite;
}

.disk-center {
	width: 25px;
	height: 25px;
	border: 3px solid var(--primary);
	border-radius: 50%;
	background-color: var(--secondary);
	box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.25), inset -3px -3px 3px rgba(0, 0, 0, 0.25);
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 15px;
	margin-left: 3rem;
}

.player > .player-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-self: baseline;
	width: 100%;
}

.title-song {
	font-weight: bold;
	margin-right: 1em;
	width: fit-content;
	white-space: nowrap;
}

.scroll-animation {
	animation: scrollTitle 10s linear infinite;
}

.title-container {
	overflow: hidden;
	width: 200px;
}

@keyframes scrollTitle {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(-200px);
	}
	100% {
		transform: translateX(0px);
	}
}

.timer-container {
	display: flex;
}

.timer-container > p {
	color: rgb(0, 219, 249);
	text-shadow: 0px 0px 160px rgba(0, 219, 249, 0.25), 0px 0px 10px rgba(0, 219, 249, 0.25),
		0px 0px 20px rgba(0, 219, 249, 0.25), 0px 0px 40px rgba(0, 219, 249, 0.25),
		0px 0px 80px rgba(0, 219, 249, 0.25);
}

.timer-separator {
	margin: 0 0.3em;
}

.container-progress {
	width: 300px;
	height: 10px;
	border-radius: 2rem;
	position: relative;
	box-shadow: inset 2px 2px 5px #000000, inset -2px -2px 3px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.progress-bar {
	position: absolute;
	height: 10px;
	width: 0%;
	background: #00dbf9;
	border-radius: 2rem;
	box-shadow: 0px 0px 160px rgba(0, 219, 249, 0.25), 0px 0px 10px rgba(0, 219, 249, 0.25),
		0px 0px 20px rgba(0, 219, 249, 0.25), 0px 0px 40px rgba(0, 219, 249, 0.25),
		0px 0px 80px rgba(0, 219, 249, 0.25);
}

.controls {
	display: flex;
	justify-content: space-between;
}

.controls > i {
	cursor: pointer;
	font-size: 1.3rem;
}

/*===================  GENRES  ===================*/

.image-genre-container {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.image-genre {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0px 6px 7px 1px #000000;
	transition: transform 300ms ease-in-out;
	cursor: pointer;
}

.image-genre:hover {
	transform: scale(0.9);
}

.image-genre-container > p {
	color: var(--tertiary);
	margin-top: 0.6em;
	font-size: 1.3em;
}

#slider-wrapper {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.active-genre {
	width: 200px;
	height: 200px;
}

@keyframes turnDisk {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*===================  MediaQ  ===================*/

@media screen and (max-width: 768px) {
	h2 {
		text-align: center;
	}
	#search {
		width: 80%;
	}

	#container-page {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: unset;
		flex-wrap: unset;
	}

	.section-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
	}
}

@media screen and (max-width: 425px) {
	#search {
		width: 90%;
		border-radius: unset;
		font-size: 1rem;
		margin: 2rem auto;
	}

	header > h1 {
		font-size: 1.6rem;
	}
}
